body {
	padding-bottom: 70px; 
	padding-top: 70px;
	background-image: url('/resources/image/2.jpg'); no-repeat;
    /* -moz-background-size: 100%; Firefox 3.6+
    -webkit-background-size: 100%; Safari 3.1+ è Chrome 4.0+
    -o-background-size: 100%; Opera 9.6+
    background-size: 100%;  */
	}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar .navbar-collapse {
	text-align: center;
}
.navbar-header a.navbar-brand {
	padding-top: 0px;
}
#b{
	color:red;
}
